{% extends 'base.html' %}

{% block content %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'testing.index' %} active {% endif %}" aria-current="page"
               href="{{ url_for('testing.index') }}">Журнал тестов</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'testing.results' %} active {% endif %}"
               href="{{ url_for('testing.results') }}">Результаты тестов</a>
        </li>
    </ul>
    {% block test_content %}
    {% endblock %}
{% endblock %}